<!-- views/partials/_header.ejs -->
<header>
  <h1 class="h1-header animated bounceInLeft">SOCIALIZD</h1>
  <div class="register-login-btns">
    <button class="btn" data-toggle="modal" data-target="#loginModal">LOGIN</button>
    <button class="btn" data-toggle="modal" data-target="#registerModal">REGISTER</button>
  </div>
</header>

<% include _modals %>

