<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>  
  <title>Create a new poll</title>
</head>
<body>
  <!-- TODO: header if logged in -->
  <header>
    <h1 class="h1-header animated bounceInLeft">SOCIALIZD</h1>
    <div class="logout-create-btn">
      <form method="GET" action="/dashboard">
        <button class="btn create-btn" type="submit">BACK TO DASHBOARD</button>
      </form>
      <form method="POST" action="/logout">
        <button class="btn logout-btn" type="submit">LOGOUT</button>
      </form>
    </div>
  </header>
   
  <div class="table-class">
    <div class="table">
      <div class="centerUp">
        <form class="form-group" method="POST" action="/">
          <div class="progress-form">
            <div id="poll-form" data-color="#00AF66">
              <h3>Please enter the options for your poll</h3>
              <input class="form__title" type="textarea" name="poll_title" required=""
                placeholder="What Are You Deciding?" />
              <div class=" option-fields">
                <input class="form__option" type="textarea" required="" name="option_1" placeholder="Option" />
                <input class="form__option" type="textarea" required="" name="option_2" placeholder="Option" />
                <div class="form__buttons">
                  <button class="form__submit btn btn-default btn-lg submit" id="form__submit" type="button"
                    style="width:49.7%; margin-top:0.15em;">
                    <div style="display:flex; justify-content: center;">
                      Create Poll!
                    </div>
                  </button>
                  <div class="form__reset btn btn-default btn-lg" id="form__reset"
                    style="width:49.7%; margin-top:0.15em">
                    <div style="display:flex; justify-content: center;"></div>Reset
                  </div>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  <% include ./partials/_footer %>
</body>
</html>
