<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Socializd -</title>
</head>

<!-- TODO: Insert _header and _footer partials -->

<body>
  <div class="pagewrap">
    <form class="form" id="form" method="POST" action="/">
      <input class="form__title" id="poll_title" name="poll_title" type="textarea" required="" placeholder="What Are You Deciding?"></input>

      <input class="form__option" id="option1" name="option_1" type="textarea" placeholder="Option"></input>
      <input class="form__option" id="option2"  name="option_2" type="textarea" placeholder="Option"></input>
      <input class="form__email" id="email"  name="email" type="email" required="" placeholder="@email"></input>

      <div class="form__buttons">
        <button class="form__submit" id="form__submit" type="submit" form="form"> Submit</button>
        <input class="form__reset" id="form__reset" type="button" value="Reset"></input>
      </div>

    </form>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script src="/scripts/app.js"></script>

</body>

</html>
