<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_head %>
  <title>Socializd -</title>
</head>

<body>
  <h1 class="h1-header animated bounceInLeft">SOCIALIZD</h1>
  <div class="table-class">
    <div class="table">
      <div class="centerUp">

        <form class="form-group" method='POST' action='/poll/<%= pollId %>'>
          <div class="progress-form">
            <h3 class="close-and-heavy"><%= pollTitle %> <span style="font-size:1.5rem"><em>Drag and Drop to rank the options</em></span> </h3>
            <div id="draggable" data-color="#00AF66">
              <% for (let key in options) { %>
                <div class="poll-option">
                  <%= options[key] %>
                    <input type="hidden" name='optionsPos[]' value="<%= key %>"
                    placeholder="Option">
                    </input>
                  </div>
              <% } %>
            </div>
            <div class="form__buttons">
              <button class="form__submit btn btn-default btn-lg submit" id="form__submit"
                type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>


  <% include partials/_footer %>

</body>

</html>
