<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-selection/1.2.0/d3-selection.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/britecharts@2.10.0/dist/umd/bar.min.js"
      type="text/javascript"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/britecharts@2.10.0/dist/umd/donut.min.js"
      type="text/javascript"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/britecharts@2.10.0/dist/bundled/britecharts.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/britecharts/dist/css/britecharts.min.css"
      type="text/css"
    />
    <title>Document</title>
  </head>
  <body>
    <h1></h1>
    <div class="bar-container"></div>

    <script>
        // Instantiate bar chart and container
        // const { select, selectAll } = require('d3-selection');
        const barChart = britecharts.bar();
        const container = d3.select(".bar-container");
        // const donutChart = britecharts.donut();

        // console.log(what);

        // Create Dataset with proper shape
      const barData = [
          { name: "<%= what[0][0] %>", value: <%= what[0][1] %> },
          { name: "<%= what[1][0] %>", value: <%= what[1][1] %> }
        ];

        // Configure chart
        barChart
          .margin({ left: 100 })
          .isHorizontal(true)
          .height(400)
          .width(600);

        container.datum(barData).call(barChart);
    </script>
  </body>
</html>
