<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-selection/1.2.0/d3-selection.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/britecharts@2/dist/bundled/britecharts.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/britecharts/dist/css/britecharts.min.css"
      type="text/css"
    />
    <title>Document</title>
  </head>

  <body>
    <div class="card--chart">
      <div class="js-donut-chart-container donut-chart-container" style="height:450px; width:450px;"></div>
      <div class="js-legend-chart-container legend-chart-container"></div>

    <script>
      let donutData = {
        data: [
          <% what.forEach(([name, quantity]) => { %>
          {
            name: "<%= name %>",
            quantity: <%= quantity %>
          },
          <% }) %>
        ]
      };

      function createDonutChart() {
        let donutChart = britecharts.donut(),
          donutContainer = d3.select(".js-donut-chart-container"),
          containerWidth = donutContainer.node()
            ? donutContainer.node().getBoundingClientRect().width
            : false,
          legendChart = britecharts.legend(),
          legendContainer;

        donutChart
          .isAnimated(true)
          .highlightSliceById(2)
          .hasFixedHighlightedSlice(true)
          .width(containerWidth)
          .height(containerWidth)
          .externalRadius(containerWidth / 2.5)
          .internalRadius(containerWidth / 5)
          .on("customMouseOver", function(data) {
            legendChart.highlight(data.data.id);
          })
          .on("customMouseOut", function() {
            legendChart.clearHighlight();
          });

        legendChart
          .width(300)
          .height(200)
          .numberFormat("s");

        donutContainer.datum(donutData.data).call(donutChart);
        legendContainer = d3.select(".js-legend-chart-container");
        legendContainer.datum(donutData.data).call(legendChart);

        donutChart.highlightSliceById(3).isAnimated(true); //not working
        donutContainer.datum(donutData.data).call(donutChart);
      }

      createDonutChart();
    </script>
  </body>
</html>
